

@font-face{
  font-family: 'Calibri Regular';
  src: url('Calibri Regular.ttf') format('truetype');
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Calibri Regular';
}

/* General */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #313131;
}

h1 {
  font-size: 35px;
  
  text-align: center;
  text-transform: uppercase;
  color: black;
  text-align: left;
  float: left;

}

/* Navegación */
nav {
  width: 100%;
  height: 70px;

  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 10;
}

#fix {
  position: static;
  width: 50%;
}

nav a:not(:last-child) {
  margin-right: 25px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #5ee0c2;
}

/* Secciones */
section {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}


.informacion {
	width: 100%;
	


}

section:nth-of-type(1) {
  
}

section:nth-of-type(2) {
	
}

section:nth-of-type(3) {
  background-color: #f04a63;
}

#header {
    width: 100%;
    height: auto;
	/*z-index: -99999;*/
}

.redes {
	margin: 0px;
	color: rgb(255, 255, 255);
	font-size: 50px;
	text-align: center;
	list-style: none;
	width: 70%;
	height: 100px; }
	.redes ul {
	  width: 35%;
	  height: 100px;
	  list-style: none;
	  display: flex;
	  justify-content: center;
	  padding: 0px; }
	  .redes ul li {
		width: 10%;
		float: left;
		text-align: center; }
  



  .zoom {
	padding: 0px;
	transition: transform .2s;
	margin: 0 auto; }
  
  .zoom:hover {
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5); }
  
  .A {
	margin: 20px; }


.main{
  display: flex;
  padding: 25px;
}

.main .text{
  width: 65%;
}

.contain-img{
  width: 30%;
}

.contain-img > img{
  width: 100%;
  display: block;
  justify-content: space-around;
}


	p{

    font-size: 19px;
  }


  /* RESPONSIVE*/

  @media (max-width: 982px){

    .main .text {
      width: 48%;
  }
  .contain-img {
    width: 50%;
}

  }

  @media (max-width: 916px){

  .redes ul {
    width: 100%;
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}

}

@media (max-width: 916px){

.redes {
  margin: 0px;
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center;
  list-style: none;
  width: 50%;
  height: 100px;
  padding: 0px;
}

}


@media (max-width: 500px){

  .uriel {
    margin-left: 10px;
    padding-left: 10px;
}

#info{

  margin-right: 45px;
  margin-left: -3px;
}



  p {
    font-size: 15px;
    width: 200%;
    z-index
}
.uriel{
  margin-left: 4px;
}
.text2{
  width: 100%;
}

nav a:not(:last-child) {
  margin-right: -6px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
  padding-left: 15px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
  padding-left: 15px;
  width: 22%;
  /* padding: inherit; */
  padding-right: -65px;
  /* margin-left: -8px; */
}

.A {
  margin: 16px;
  margin-left: 18px;
  margin-right: 49px;
}

}


.ini {
  width: 25%;
  margin: 0px auto;
  height: 16px;
}


@media (max-width: 569px){

	h1 {
    font-size: 20px;
		font-size: 10px;
		}

	
	.contain-img > img {
    width: 100%;
    display: block;
    justify-content: space-around;
    margin-left: 23px;
}
	

	.ini {
    height: 19px;
    width: 30%;
}
	
	.redes ul {
    margin-top: 6px;

}
}
